<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff - Profile</title>

    <!-- Font awsome Kit -->
    <script src="https://kit.fontawesome.com/62765ee528.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous" />

      <!-- custom css -->
    <link rel="stylesheet" href="/css/dashboard.css" />

    <!-- custom js -->
    <script src="/js/dashboard/dashboard.js" defer></script>

  </head>
  <body>
    <main class="dashboard">
      <div class="sidebar">
        <div class="sidebar_top">
          <h4>Ticketing System</h4>
        </div>
        <div class="sidebar_main">
          <div class="user">
            <div class="user_image">
              <img src="/img/user.png" alt="avatar" />
            </div>
            <div class="user_info">
              <h5><%= current_user.fullName() %></h5>
              <p><%= current_user.email %></p>
            </div>
          </div>
          <div class="sidebar_links">
            <span class="sidebar_link active">
              <a href="/dashboard/home">
                <i class="fa-solid fa-gauge"></i> Dashboard
                </a>
            </span>
            <% if (user_role === 'admin') {%>
              <span class="sidebar_link">
                <a href="/dashboard/create/agent"><i class="fa-solid fa-users"></i> Agents</a>
              </span>
            <%}%>
            <span class="sidebar_link">
              <a href="/dashboard/create/client"><i class="fa-solid fa-users"></i> Clients</a>
            </span>
            <span class="sidebar_link">
              <% if (user_role === 'admin') {%>
              <a href="/dashboard/admin/ticket"><i class="fa-solid fa-ticket"></i> Tickets</a>
              <%}else if (user_role === 'agent') {%>
                <a href="/dashboard/agent/ticket"><i class="fa-solid fa-ticket"></i> Tickets</a>
              <%}%>
            </span>
            <span class="sidebar_link">
              <a href="/dashboard/reports"><i class="fa-solid fa-file-pen"></i> Report</a>
            </span>
          </div>
        </div>
      </div>
      <div class="main_content">
        <div class="main_content-top">
          <button
            type="button"
            class="sidebar_collapse-btn btn"
            id="toggleSidebar">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="user">
            <div class="user_info">
              <a href="/dashboard/staff/edit-profile">Edit Profile</a>
              <a href="/dashboard/logout">Sign Out</a>
            </div>
          </div>
        </div>
        <div class="main_content-main">
          <div class="dashboard_title">
            <h2>Edit Profile</h2>
            <div class="dashboard_title-nav">
              <i class="fa-solid fa-gauge"></i>
              <small>Home </small>
              <small><i class="fa-solid fa-chevron-right"></i></small>
              <small>Edit Profile</small>
            </div>
          </div>
          <div class="dashboard_content">
            <div class="dashboard_edit">
              <div class="profile_info">
                <div class="profile_info-name">
                  <h5><%= current_user.fullName() %></h5>
                  <p><%= current_user.email %></p>
                </div>
              </div>
              <form action="/dashboard/staff/edit-profile" method="POST" id="edit-profile">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="form_group">
                  <label for="first_name">Firstname</label>
                  <input
                    type="text"
                    name="first_name"
                    id="first_name"
                    value="<%= current_user.first_name %>"/>
                </div>
                <div class="form_group">
                  <label for="last_name">Lastname</label>
                  <input
                    type="text"
                    name="last_name"
                    id="last_name"
                    value="<%= current_user.last_name %>" />
                </div>
                <div class="form_group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email" 
                    value="<%= current_user.email %>"
                    readonly/>
                </div>
                <div class="form_group">
                  <label for="staff_id">Staff ID</label>
                  <input
                    type="text"
                    id="staff_id"
                    value="<%= current_user.agent.staff_id %>" 
                    readonly/>
                </div>
                  <div class="form_group">
                    <label for="department">Department</label>
                    <input
                      type="text"
                      id="department"
                      name="department"
                      value="<%= current_user.agent.department %>" 
                      readonly/>
                  </div>

                <label for="Auth" class="Auth_label">
                  <span>Activate 2 Factor Authentication</span>
                  <span class="Auth_checkbox">
                   <% if (current_user.two_fa_enabled){%>
                      <input type="checkbox" name="two_fa_enabled" id="Auth" value="true" checked>
                    <%}else{%>
                      <input type="checkbox" name="two_fa_enabled" id="Auth" value="false" />
                    <%}%>
                    <span class="switch">
                      <span class="yes">Yes</span>
                      <span class="no">No</span>
                    </span>
                  </span>
                </label>

                <div
                  class="d-flex justify-content-between mt-4 align-items-center">
                  <!-- <button type="button" class="btn btn-cancel">Cancel</button> -->
                  <button type="submit" class="btn btn-submit">Save</button>
                </div>
              </form>
            </div>

            <% if (error.length > 0) {%>
              <div id="error-msg">
                <i class="fa fa-times-circle"></i>
                <%= error %>
              </div>
            <%}else{%>
              <div id="error-msg"></div>
            <%}%>
    
            <% if (success.length > 0){%>
              <div id="success-msg">
                <i class="fa fa-check"></i>
                <%= success %>
              </div>
            <%}%>
  
            <% if (info.length > 0){%>
              <div id="info-msg">
                <i class="fa fa-info-circle"></i>
                <%= info %>
              </div>
            <%}%>

          </div>
        </div>
      </div>
    </main>
  </body>
</html>
